<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
</head>
<body>

    <h2>Test Page</h2>

    {#{% for object in objects %}
        <div>
            <h3>{{ object.id }}</h3>
        </div>
    {% endfor %}#}

    <div>
        {#{{ render(controller('SonataNewsBundle:Post:tag', { 'tag': 'javascript' })) }}#}

        {{ render(controller('SonataNewsBundle:Post:')) }}
    </div>

</body>
</html>


